name: CI

on: [push, pull_request]

jobs:
  ci:
    name: "Build and Test"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - uses: Bogdanp/setup-racket@v1.5
        with:
          version: stable
      - run: raco pkg install --batch --auto --link --name resyntax
      - run: xvfb-run raco test --package resyntax
